###> IDE ###
/.idea/
###< IDE ###

###> Docker ###
/.docker/.env
/.docker/dockerfiles/database/data/
!/.docker/dockerfiles/database/data/.gitkeep
/.docker/dockerfiles/database/import/
!/.docker/dockerfiles/database/import/.gitkeep
/.bash_history
###< Docker ###

/vendor/
/nbproject/
/composer.lock

/app/config/parameters.neon

/var/views/*
